---
layout: archive
title: "Olimpiadi Italiane di Matematica"
permalink: /itamo/
author_profile: true
---

{% include base_path %}

<p>In questa pagina sono presenti (o lo saranno in futuro) risorse e statistiche ad uso di studenti e responsabili distrettuali 
  in preparazione alle Olimpiadi Italane di Matematica</p>

<p>Qui sotto sono riportate le classifiche
  delle fasi nazionali delle Olimpiadi di Matematica svoltesi a Cesenatico dal 2020 al 2024 (per gli anni precedenti,
  il medagliere olimat è consultabile <a href=http://olimpiadi.dm.unibo.it/archivio/medagliere/>qui</a>)
  In aggiunta ai punteggi - parziali e totali - dei partecipanti, è riportato il punteggio pesato per classe
  e la quota reale (ufficiosa) attribuita al distretto di appartenenza. 
</p>

<h2 style="font-size: 2em; font-weight: bold;">Medagliere</h2>

<style>
.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32; /* This is a bronze-like color */
}
</style>


<div>
<label for="year-select">Seleziona Anno:</label>
<select id="year-select">
  <option value="all">Tutti</option>
  <option value="2024" selected>2024</option>
  <option value="2023">2023</option>
  <option value="2022">2022</option>
  <option value="2021">2021</option>
  <option value="2020">2020</option>
</select>
</div>

<div>
<label for="district-select">Seleziona Distretto:</label>
<select id="district-select">
  <option value="all">Tutti</option>
  <option value="Agrigento">Agrigento</option>
  <option value="Alessandria">Alessandria</option>
  <option value="Ancona">Ancona</option>
  <option value="Aosta">Aosta</option>
  <option value="Arezzo">Arezzo</option>
  <option value="Ascoli Piceno, Fermo">Ascoli Piceno, Fermo</option>
  <option value="Asti">Asti</option>
  <option value="Avellino">Avellino</option>
  <option value="Bari">Bari</option>
  <option value="Belluno">Belluno</option>
  <option value="Benevento">Benevento</option>
  <option value="Bergamo">Bergamo</option>
  <option value="Biella, Vercelli">Biella, Vercelli</option>
  <option value="Bologna">Bologna</option>
  <option value="Bolzano">Bolzano</option>
  <option value="Brescia">Brescia</option>
  <option value="Brindisi, Taranto">Brindisi, Taranto</option>
  <option value="Cagliari">Cagliari</option>
  <option value="Caltanissetta">Caltanissetta</option>
  <option value="Campobasso, Isernia">Campobasso, Isernia</option>
  <option value="Caserta">Caserta</option>
  <option value="Catania">Catania</option>
  <option value="Catanzaro, Crotone, Vibo Valentia">Catanzaro, Crotone, Vibo Valentia</option>
  <option value="Chieti">Chieti</option>
  <option value="Como">Como</option>
  <option value="Cosenza">Cosenza</option>
  <option value="Cremona">Cremona</option>
  <option value="Cuneo">Cuneo</option>
  <option value="Enna">Enna</option>
  <option value="Ferrara">Ferrara</option>
  <option value="Firenze, Prato">Firenze, Prato</option>
  <option value="Foggia">Foggia</option>
  <option value="Forlì-Cesena">Forlì-Cesena</option>
  <option value="Frosinone">Frosinone</option>
  <option value="Genova">Genova</option>
  <option value="Gorizia">Gorizia</option>
  <option value="Grosseto">Grosseto</option>
  <option value="L’Aquila">L’Aquila</option>
  <option value="Latina">Latina</option>
  <option value="Lecce">Lecce</option>
  <option value="Lecco, Sondrio">Lecco, Sondrio</option>
  <option value="Livorno">Livorno</option>
  <option value="Lodi">Lodi</option>
  <option value="Lucca">Lucca</option>
  <option value="Macerata">Macerata</option>
  <option value="Mantova">Mantova</option>
  <option value="Massa-Carrara, La Spezia">Massa-Carrara, La Spezia</option>
  <option value="Messina">Messina</option>
  <option value="Milano, Monza-Brianza">Milano, Monza-Brianza</option>
  <option value="Modena">Modena</option>
  <option value="Napoli">Napoli</option>
  <option value="Novara">Novara</option>
  <option value="Nuoro">Nuoro</option>
  <option value="Oristano, Sassari">Oristano, Sassari</option>
  <option value="Padova">Padova</option>
  <option value="Palermo">Palermo</option>
  <option value="Parma">Parma</option>
  <option value="Pavia">Pavia</option>
  <option value="Perugia">Perugia</option>
  <option value="Pesaro e Urbino">Pesaro e Urbino</option>
  <option value="Pescara">Pescara</option>
  <option value="Piacenza">Piacenza</option>
  <option value="Pisa">Pisa</option>
  <option value="Pistoia">Pistoia</option>
  <option value="Pordenone">Pordenone</option>
  <option value="Potenza, Matera">Potenza, Matera</option>
  <option value="Ragusa">Ragusa</option>
  <option value="Ravenna">Ravenna</option>
  <option value="Reggio Calabria">Reggio Calabria</option>
  <option value="Reggio Emilia">Reggio Emilia</option>
  <option value="Rieti">Rieti</option>
  <option value="Rimini">Rimini</option>
  <option value="Roma">Roma</option>
  <option value="Rovigo">Rovigo</option>
  <option value="Salerno">Salerno</option>
  <option value="Savona, Imperia">Savona, Imperia</option>
  <option value="Siena">Siena</option>
  <option value="Siracusa">Siracusa</option>
  <option value="Teramo">Teramo</option>
  <option value="Terni">Terni</option>
  <option value="Terni, Viterbo">Terni, Viterbo</option>
  <option value="Torino">Torino</option>
  <option value="Trapani">Trapani</option>
  <option value="Trento">Trento</option>
  <option value="Treviso">Treviso</option>
  <option value="Trieste">Trieste</option>
  <option value="Udine">Udine</option>
  <option value="Varese">Varese</option>
  <option value="Venezia">Venezia</option>
  <option value="Verbano-Cusio-Ossola">Verbano-Cusio-Ossola</option>
  <option value="Verona">Verona</option>
  <option value="Vicenza">Vicenza</option>
  <option value="Viterbo">Viterbo</option>
</select>
</div>

<input type="text" id="search-input" placeholder="Cerca per Nome o Cognome">


<div style="max-height: 400px; overflow-y: auto;">
  {% include table.html %}
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  document.getElementById('year-select').addEventListener('change', filterTable);
  document.getElementById('district-select').addEventListener('change', filterTable);
  document.getElementById('search-input').addEventListener('input', filterTable);
});
</script>

<script>
function filterTable() {
  const selectedYear = document.getElementById('year-select').value;
  const selectedDistrict = document.getElementById('district-select').value;
  const searchText = document.getElementById('search-input').value.toLowerCase();
  const rows = document.querySelectorAll('#data-table tbody tr');

  rows.forEach(row => {
    const anno = row.cells[13].textContent;
    const district = row.cells[11].textContent;
    const nome = row.cells[1].textContent.toLowerCase();
    const cognome = row.cells[0].textContent.toLowerCase();
    
    const matchesYear = selectedYear === 'all' || anno === selectedYear;
    const matchesDistrict = selectedDistrict === 'all' || district === selectedDistrict;
    const matchesSearch = nome.includes(searchText) || cognome.includes(searchText);

    row.style.display = (matchesYear && matchesDistrict && matchesSearch) ? '' : 'none';
  });
}
</script>

<h2 style="font-size: 2em; font-weight: bold;">Calcolo quote per distretto</h2>

<div>
<label for="district-select2">Seleziona Distretto:</label>
<select id="district-select2">
  <option value="all">---</option>
  <option value="Agrigento">Agrigento</option>
  <option value="Alessandria">Alessandria</option>
  <option value="Ancona">Ancona</option>
  <option value="Aosta">Aosta</option>
  <option value="Arezzo">Arezzo</option>
  <option value="Ascoli Piceno, Fermo">Ascoli Piceno, Fermo</option>
  <option value="Asti">Asti</option>
  <option value="Avellino">Avellino</option>
  <option value="Bari">Bari</option>
  <option value="Belluno">Belluno</option>
  <option value="Benevento">Benevento</option>
  <option value="Bergamo">Bergamo</option>
  <option value="Biella, Vercelli">Biella, Vercelli</option>
  <option value="Bologna">Bologna</option>
  <option value="Bolzano">Bolzano</option>
  <option value="Brescia">Brescia</option>
  <option value="Brindisi, Taranto">Brindisi, Taranto</option>
  <option value="Cagliari">Cagliari</option>
  <option value="Caltanissetta">Caltanissetta</option>
  <option value="Campobasso, Isernia">Campobasso, Isernia</option>
  <option value="Caserta">Caserta</option>
  <option value="Catania">Catania</option>
  <option value="Catanzaro, Crotone, Vibo Valentia">Catanzaro, Crotone, Vibo Valentia</option>
  <option value="Chieti">Chieti</option>
  <option value="Como">Como</option>
  <option value="Cosenza">Cosenza</option>
  <option value="Cremona">Cremona</option>
  <option value="Cuneo">Cuneo</option>
  <option value="Enna">Enna</option>
  <option value="Ferrara">Ferrara</option>
  <option value="Firenze, Prato">Firenze, Prato</option>
  <option value="Foggia">Foggia</option>
  <option value="Forlì-Cesena">Forlì-Cesena</option>
  <option value="Frosinone">Frosinone</option>
  <option value="Genova">Genova</option>
  <option value="Gorizia">Gorizia</option>
  <option value="Grosseto">Grosseto</option>
  <option value="L’Aquila">L’Aquila</option>
  <option value="Latina">Latina</option>
  <option value="Lecce">Lecce</option>
  <option value="Lecco, Sondrio">Lecco, Sondrio</option>
  <option value="Livorno">Livorno</option>
  <option value="Lodi">Lodi</option>
  <option value="Lucca">Lucca</option>
  <option value="Macerata">Macerata</option>
  <option value="Mantova">Mantova</option>
  <option value="Massa-Carrara, La Spezia">Massa-Carrara, La Spezia</option>
  <option value="Messina">Messina</option>
  <option value="Milano, Monza-Brianza">Milano, Monza-Brianza</option>
  <option value="Modena">Modena</option>
  <option value="Napoli">Napoli</option>
  <option value="Novara">Novara</option>
  <option value="Nuoro">Nuoro</option>
  <option value="Oristano, Sassari">Oristano, Sassari</option>
  <option value="Padova">Padova</option>
  <option value="Palermo">Palermo</option>
  <option value="Parma">Parma</option>
  <option value="Pavia">Pavia</option>
  <option value="Perugia">Perugia</option>
  <option value="Pesaro e Urbino">Pesaro e Urbino</option>
  <option value="Pescara">Pescara</option>
  <option value="Piacenza">Piacenza</option>
  <option value="Pisa">Pisa</option>
  <option value="Pistoia">Pistoia</option>
  <option value="Pordenone">Pordenone</option>
  <option value="Potenza, Matera">Potenza, Matera</option>
  <option value="Ragusa">Ragusa</option>
  <option value="Ravenna">Ravenna</option>
  <option value="Reggio Calabria">Reggio Calabria</option>
  <option value="Reggio Emilia">Reggio Emilia</option>
  <option value="Rieti">Rieti</option>
  <option value="Rimini">Rimini</option>
  <option value="Roma">Roma</option>
  <option value="Rovigo">Rovigo</option>
  <option value="Salerno">Salerno</option>
  <option value="Savona, Imperia">Savona, Imperia</option>
  <option value="Siena">Siena</option>
  <option value="Siracusa">Siracusa</option>
  <option value="Teramo">Teramo</option>
  <option value="Terni">Terni</option>
  <option value="Terni, Viterbo">Terni, Viterbo</option>
  <option value="Torino">Torino</option>
  <option value="Trapani">Trapani</option>
  <option value="Trento">Trento</option>
  <option value="Treviso">Treviso</option>
  <option value="Trieste">Trieste</option>
  <option value="Udine">Udine</option>
  <option value="Varese">Varese</option>
  <option value="Venezia">Venezia</option>
  <option value="Verbano-Cusio-Ossola">Verbano-Cusio-Ossola</option>
  <option value="Verona">Verona</option>
  <option value="Vicenza">Vicenza</option>
  <option value="Viterbo">Viterbo</option>
</select>
</div>

<button id="calculate-sum">Calcola Quote Distretto</button>
<div id="sum-result"></div>





<script>
  document.getElementById('calculate-sum').addEventListener('click', calculateSum);

  

function calculateSum() {
  const selectedDistrict = document.getElementById('district-select2').value;
  const rows = document.querySelectorAll('#data-table tbody tr');
  
  let points2024 = 0;
  let points2023 = 0;
  let points2022 = 0;
  let bonusshares = 0;

  rows.forEach(row => {
    const anno = row.cells[13].textContent; 
    const district = row.cells[11].textContent; 
    const points = row.cells[12].textContent;
    

    if (district === selectedDistrict) {
      if (anno === '2024' && points !== 'BONUS') points2024 += parseFloat(points);
      else if (anno === '2024' && points === 'BONUS') bonusshares += 1;
      else if (anno === '2023' && points !== 'BONUS') points2023 += parseFloat(points);
      else if (anno === '2022' && points !== 'BONUS') points2022 += parseFloat(points);
    }
  });

const districtSchools = {
  "Agrigento": 14,
  "Alessandria": 10,
  "Ancona": 14,
  "Aosta": 3,
  "Arezzo": 8,
  "Ascoli Piceno, Fermo": 11,
  "Asti": 5,
  "Avellino": 16,
  "Bari": 40,
  "Belluno": 6,
  "Benevento": 9,
  "Bergamo": 14,
  "Biella, Vercelli": 6,
  "Bologna": 21,
  "Bolzano": 15,
  "Brescia": 24,
  "Brindisi, Taranto": 22,
  "Cagliari": 17,
  "Caltanissetta": 4,
  "Campobasso & Isernia": 10,
  "Caserta": 17,
  "Catania": 23,
  "Catanzaro, Crotone, Vibo Valentia": 16,
  "Chieti": 14,
  "Como": 13,
  "Cosenza": 32,
  "Cremona": 3,
  "Cuneo": 7,
  "Enna": 6,
  "Ferrara": 5,
  "Firenze, Prato": 24,
  "Foggia": 26,
  "Forlì-Cesena": 13,
  "Frosinone": 13,
  "Genova": 24,
  "Gorizia": 5,
  "Grosseto": 6,
  "L’Aquila": 4,
  "Latina": 17,
  "Lecce": 22,
  "Lecco & Sondrio": 9,
  "Livorno": 7,
  "Lodi": 4,
  "Lucca": 11,
  "Macerata": 9,
  "Mantova": 7,
  "Massa-Carrara, La Spezia": 9,
  "Messina": 11,
  "Milano, Monza-Brianza": 52,
  "Modena": 15,
  "Napoli": 73,
  "Novara": 8,
  "Nuoro": 5,
  "Oristano, Sassari": 10,
  "Padova": 17,
  "Palermo": 21,
  "Parma": 13,
  "Pavia": 9,
  "Perugia": 21,
  "Pesaro e Urbino": 8,
  "Pescara": 9,
  "Piacenza": 5,
  "Pisa": 10,
  "Pistoia": 7,
  "Pordenone": 7,
  "Potenza & Matera": 16,
  "Ragusa": 10,
  "Ravenna": 3,
  "Reggio Calabria": 7,
  "Reggio Emilia": 12,
  "Rieti": 6,
  "Rimini": 11,
  "Roma": 116,
  "Rovigo": 6,
  "Salerno": 25,
  "Savona & Imperia": 9,
  "Siena": 6,
  "Siracusa": 11,
  "Teramo": 7,
  "Terni & Viterbo": 15,
  "Torino": 56,
  "Trapani": 7,
  "Trento": 21,
  "Treviso": 15,
  "Trieste": 10,
  "Udine": 18,
  "Varese": 11,
  "Venezia": 13,
  "Verbano-Cusio-Ossola": 6,
  "Verona": 23,
  "Vicenza": 20,
};

function getNumberOfSchools(district) {
  return districtSchools[district] || 0; // Returns 0 if the district is not found
}
  
const numberOfSchools = getNumberOfSchools(selectedDistrict);

  document.getElementById('sum-result').textContent = 
    `Numero di scuole nel distretto di ${selectedDistrict} nel 2024: ${numberOfSchools}/1376`
    `Quote bonus del distretto di ${selectedDistrict} per il 2025: ${bonusshares}\n` +
    `Punti del distretto di ${selectedDistrict}:\n` +
    `2024: ${points2024}\n` +
    `2023: ${points2023}\n` +
    `2022: ${points2022}`;
}

</script>

