---
layout: archive
title: "Olimpiadi Italiane di Matematica"
permalink: /itamo/
author_profile: true
---

{% include base_path %}

<p>In questa pagina sono presenti (o lo saranno in futuro) risorse e statistiche ad uso di studenti e responsabili distrettuali 
  in preparazione alle Olimpiadi Italane di Matematica</p>

<p>Qui sotto sono riportate le classifiche
  delle fasi nazionali delle Olimpiadi di Matematica svoltesi a Cesenatico dal 2020 al 2024 (per gli anni precedenti,
  il medagliere olimat è consultabile <a href=http://olimpiadi.dm.unibo.it/archivio/medagliere/>qui</a>)
  In aggiunta ai punteggi - parziali e totali - dei partecipanti, è riportato il punteggio pesato per classe
  e la quota reale (ufficiosa) attribuita al distretto di appartenenza. 
</p>

<h2 style="font-size: 2em; font-weight: bold;">Medagliere</h2>

<style>
.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32; /* This is a bronze-like color */
}
</style>


<div>
<label for="year-select">Seleziona Anno:</label>
<select id="year-select">
  <option value="all">Tutti</option>
  <option value="2024" selected>2024</option>
  <option value="2023">2023</option>
  <option value="2022">2022</option>
  <option value="2021">2021</option>
  <option value="2020">2020</option>
</select>
</div>

<div>
<label for="district-select">Seleziona Distretto:</label>
<select id="district-select">
  <option value="all">Tutti</option>
  <option value="Agrigento">Agrigento</option>
  <option value="Alessandria">Alessandria</option>
  <option value="Ancona">Ancona</option>
  <option value="Aosta">Aosta</option>
  <option value="Arezzo">Arezzo</option>
  <option value="Ascoli Piceno, Fermo">Ascoli Piceno, Fermo</option>
  <option value="Asti">Asti</option>
  <option value="Avellino">Avellino</option>
  <option value="Bari">Bari</option>
  <option value="Belluno">Belluno</option>
  <option value="Benevento">Benevento</option>
  <option value="Bergamo">Bergamo</option>
  <option value="Biella, Vercelli">Biella, Vercelli</option>
  <option value="Bologna">Bologna</option>
  <option value="Bolzano">Bolzano</option>
  <option value="Brescia">Brescia</option>
  <option value="Brindisi, Taranto">Brindisi, Taranto</option>
  <option value="Cagliari">Cagliari</option>
  <option value="Caltanissetta">Caltanissetta</option>
  <option value="Campobasso, Isernia">Campobasso, Isernia</option>
  <option value="Caserta">Caserta</option>
  <option value="Catania">Catania</option>
  <option value="Catanzaro, Crotone, Vibo Valentia">Catanzaro, Crotone, Vibo Valentia</option>
  <option value="Chieti">Chieti</option>
  <option value="Como">Como</option>
  <option value="Cosenza">Cosenza</option>
  <option value="Cremona">Cremona</option>
  <option value="Cuneo">Cuneo</option>
  <option value="Enna">Enna</option>
  <option value="Ferrara">Ferrara</option>
  <option value="Firenze, Prato">Firenze, Prato</option>
  <option value="Foggia">Foggia</option>
  <option value="Forlì-Cesena">Forlì-Cesena</option>
  <option value="Frosinone">Frosinone</option>
  <option value="Genova">Genova</option>
  <option value="Gorizia">Gorizia</option>
  <option value="Grosseto">Grosseto</option>
  <option value="L’Aquila">L’Aquila</option>
  <option value="Latina">Latina</option>
  <option value="Lecce">Lecce</option>
  <option value="Lecco, Sondrio">Lecco, Sondrio</option>
  <option value="Livorno">Livorno</option>
  <option value="Lodi">Lodi</option>
  <option value="Lucca">Lucca</option>
  <option value="Macerata">Macerata</option>
  <option value="Mantova">Mantova</option>
  <option value="Massa-Carrara, La Spezia">Massa-Carrara, La Spezia</option>
  <option value="Messina">Messina</option>
  <option value="Milano, Monza-Brianza">Milano, Monza-Brianza</option>
  <option value="Modena">Modena</option>
  <option value="Napoli">Napoli</option>
  <option value="Novara">Novara</option>
  <option value="Nuoro">Nuoro</option>
  <option value="Oristano, Sassari">Oristano, Sassari</option>
  <option value="Padova">Padova</option>
  <option value="Palermo">Palermo</option>
  <option value="Parma">Parma</option>
  <option value="Pavia">Pavia</option>
  <option value="Perugia">Perugia</option>
  <option value="Pesaro e Urbino">Pesaro e Urbino</option>
  <option value="Pescara">Pescara</option>
  <option value="Piacenza">Piacenza</option>
  <option value="Pisa">Pisa</option>
  <option value="Pistoia">Pistoia</option>
  <option value="Pordenone">Pordenone</option>
  <option value="Potenza, Matera">Potenza, Matera</option>
  <option value="Ragusa">Ragusa</option>
  <option value="Ravenna">Ravenna</option>
  <option value="Reggio Calabria">Reggio Calabria</option>
  <option value="Reggio Emilia">Reggio Emilia</option>
  <option value="Rieti">Rieti</option>
  <option value="Rimini">Rimini</option>
  <option value="Roma">Roma</option>
  <option value="Rovigo">Rovigo</option>
  <option value="Salerno">Salerno</option>
  <option value="Savona, Imperia">Savona, Imperia</option>
  <option value="Siena">Siena</option>
  <option value="Siracusa">Siracusa</option>
  <option value="Teramo">Teramo</option>
  <option value="Terni">Terni</option>
  <option value="Terni, Viterbo">Terni, Viterbo</option>
  <option value="Torino">Torino</option>
  <option value="Trapani">Trapani</option>
  <option value="Trento">Trento</option>
  <option value="Treviso">Treviso</option>
  <option value="Trieste">Trieste</option>
  <option value="Udine">Udine</option>
  <option value="Varese">Varese</option>
  <option value="Venezia">Venezia</option>
  <option value="Verbano-Cusio-Ossola">Verbano-Cusio-Ossola</option>
  <option value="Verona">Verona</option>
  <option value="Vicenza">Vicenza</option>
  <option value="Viterbo">Viterbo</option>
</select>
</div>

<input type="text" id="search-input" placeholder="Cerca per Nome o Cognome">


<div style="max-height: 400px; overflow-y: auto;">
  {% include table.html %}
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  document.getElementById('year-select').addEventListener('change', filterTable);
  document.getElementById('district-select').addEventListener('change', filterTable);
  document.getElementById('search-input').addEventListener('input', filterTable);

  const headers = document.querySelectorAll('#data-table thead th');
  headers.forEach((header, index) => {
    header.addEventListener('click', () => sortTable(index));
  });
});

function filterTable() {
  const selectedYear = document.getElementById('year-select').value;
  const selectedDistrict = document.getElementById('district-select').value;
  const searchText = document.getElementById('search-input').value.toLowerCase();
  const rows = document.querySelectorAll('#data-table tbody tr');

  rows.forEach(row => {
    const anno = row.cells[13].textContent;
    const district = row.cells[11].textContent;
    const nome = row.cells[1].textContent.toLowerCase();
    const cognome = row.cells[0].textContent.toLowerCase();

    const matchesYear = selectedYear === 'all' || anno === selectedYear;
    const matchesDistrict = selectedDistrict === 'all' || district === selectedDistrict;
    const matchesSearch = nome.includes(searchText) || cognome.includes(searchText);

    row.style.display = (matchesYear && matchesDistrict && matchesSearch) ? '' : 'none';
  });
}

function sortTable(columnIndex) {
    const table = document.getElementById("data-table");
    const rows = Array.from(table.rows).slice(1);
    const isAscending = table.getAttribute('data-sort-order') === 'asc';
    const direction = isAscending ? 1 : -1;

    rows.sort((a, b) => {
        const cellA = a.cells[columnIndex].textContent.trim();
        const cellB = b.cells[columnIndex].textContent.trim();

        if (!isNaN(cellA) && !isNaN(cellB)) {
            return direction * (parseFloat(cellA) - parseFloat(cellB));
        }
        return direction * cellA.localeCompare(cellB);
    });

    const tbody = table.querySelector("tbody");
    tbody.innerHTML = "";
    rows.forEach(row => tbody.appendChild(row));

    table.setAttribute('data-sort-order', isAscending ? 'desc' : 'asc');
}
</script>

<h2 style="font-size: 2em; font-weight: bold;">Calcolo quote per distretto</h2>

<div>
<label for="district-select2">Seleziona Distretto:</label>
<select id="district-select2">
  <option value="all">---</option>
  <option value="Agrigento">Agrigento</option>
  <option value="Alessandria">Alessandria</option>
  <option value="Ancona">Ancona</option>
  <option value="Aosta">Aosta</option>
  <option value="Arezzo">Arezzo</option>
  <option value="Ascoli Piceno, Fermo">Ascoli Piceno, Fermo</option>
  <option value="Asti">Asti</option>
  <option value="Avellino">Avellino</option>
  <option value="Bari">Bari</option>
  <option value="Belluno">Belluno</option>
  <option value="Benevento">Benevento</option>
  <option value="Bergamo">Bergamo</option>
  <option value="Biella, Vercelli">Biella, Vercelli</option>
  <option value="Bologna">Bologna</option>
  <option value="Bolzano">Bolzano</option>
  <option value="Brescia">Brescia</option>
  <option value="Brindisi, Taranto">Brindisi, Taranto</option>
  <option value="Cagliari">Cagliari</option>
  <option value="Caltanissetta">Caltanissetta</option>
  <option value="Campobasso, Isernia">Campobasso, Isernia</option>
  <option value="Caserta">Caserta</option>
  <option value="Catania">Catania</option>
  <option value="Catanzaro, Crotone, Vibo Valentia">Catanzaro, Crotone, Vibo Valentia</option>
  <option value="Chieti">Chieti</option>
  <option value="Como">Como</option>
  <option value="Cosenza">Cosenza</option>
  <option value="Cremona">Cremona</option>
  <option value="Cuneo">Cuneo</option>
  <option value="Enna">Enna</option>
  <option value="Ferrara">Ferrara</option>
  <option value="Firenze, Prato">Firenze, Prato</option>
  <option value="Foggia">Foggia</option>
  <option value="Forlì-Cesena">Forlì-Cesena</option>
  <option value="Frosinone">Frosinone</option>
  <option value="Genova">Genova</option>
  <option value="Gorizia">Gorizia</option>
  <option value="Grosseto">Grosseto</option>
  <option value="L’Aquila">L’Aquila</option>
  <option value="Latina">Latina</option>
  <option value="Lecce">Lecce</option>
  <option value="Lecco, Sondrio">Lecco, Sondrio</option>
  <option value="Livorno">Livorno</option>
  <option value="Lodi">Lodi</option>
  <option value="Lucca">Lucca</option>
  <option value="Macerata">Macerata</option>
  <option value="Mantova">Mantova</option>
  <option value="Massa-Carrara, La Spezia">Massa-Carrara, La Spezia</option>
  <option value="Messina">Messina</option>
  <option value="Milano, Monza-Brianza">Milano, Monza-Brianza</option>
  <option value="Modena">Modena</option>
  <option value="Napoli">Napoli</option>
  <option value="Novara">Novara</option>
  <option value="Nuoro">Nuoro</option>
  <option value="Oristano, Sassari">Oristano, Sassari</option>
  <option value="Padova">Padova</option>
  <option value="Palermo">Palermo</option>
  <option value="Parma">Parma</option>
  <option value="Pavia">Pavia</option>
  <option value="Perugia">Perugia</option>
  <option value="Pesaro e Urbino">Pesaro e Urbino</option>
  <option value="Pescara">Pescara</option>
  <option value="Piacenza">Piacenza</option>
  <option value="Pisa">Pisa</option>
  <option value="Pistoia">Pistoia</option>
  <option value="Pordenone">Pordenone</option>
  <option value="Potenza, Matera">Potenza, Matera</option>
  <option value="Ragusa">Ragusa</option>
  <option value="Ravenna">Ravenna</option>
  <option value="Reggio Calabria">Reggio Calabria</option>
  <option value="Reggio Emilia">Reggio Emilia</option>
  <option value="Rieti">Rieti</option>
  <option value="Rimini">Rimini</option>
  <option value="Roma">Roma</option>
  <option value="Rovigo">Rovigo</option>
  <option value="Salerno">Salerno</option>
  <option value="Savona, Imperia">Savona, Imperia</option>
  <option value="Siena">Siena</option>
  <option value="Siracusa">Siracusa</option>
  <option value="Teramo">Teramo</option>
  <option value="Terni, Viterbo">Terni, Viterbo</option>
  <option value="Torino">Torino</option>
  <option value="Trapani">Trapani</option>
  <option value="Trento">Trento</option>
  <option value="Treviso">Treviso</option>
  <option value="Trieste">Trieste</option>
  <option value="Udine">Udine</option>
  <option value="Varese">Varese</option>
  <option value="Venezia">Venezia</option>
  <option value="Verbano-Cusio-Ossola">Verbano-Cusio-Ossola</option>
  <option value="Verona">Verona</option>
  <option value="Vicenza">Vicenza</option>
</select>
</div>


<div id="sum-result"></div>


<script>
document.getElementById('district-select2').addEventListener('change', function () {
  const selected_district = this.value;
  const rows = document.querySelectorAll('#data-table tbody tr');
  
  let points2024 = 0;
  let points2023 = 0;
  let points2022 = 0;
  let bonusshares = 0;
  let allpoints2024 = 0;
  let allpoints2023 = 0;
  let allpoints2022 = 0;
  let allbonusshares = 0;

  rows.forEach(row => {
    const anno = row.cells[13].textContent; 
    const district = row.cells[11].textContent; 
    const points = row.cells[12].textContent;

    if (anno === '2024' && points !== 'BONUS') allpoints2024 += parseFloat(points);
    else if (anno === '2024' && points === 'BONUS') allbonusshares += 1;
    else if (anno === '2023' && points !== 'BONUS') allpoints2023 += parseFloat(points);
    else if (anno === '2022' && points !== 'BONUS') allpoints2022 += parseFloat(points);

    if (district === selected_district) {
      if (anno === '2024' && points !== 'BONUS') points2024 += parseFloat(points);
      else if (anno === '2024' && points === 'BONUS') bonusshares += 1;
      else if (anno === '2023' && points !== 'BONUS') points2023 += parseFloat(points);
      else if (anno === '2022' && points !== 'BONUS') points2022 += parseFloat(points);
    }
  });

const district_data = {
  "Agrigento": { scuole: 14, quota_reale: 0.6001, quota_effettiva: 1 },
  "Alessandria": { scuole: 10, quota_reale: 1.4156, quota_effettiva: 2 },
  "Ancona": { scuole: 14, quota_reale: 1.9382, quota_effettiva: 2 },
  "Aosta": { scuole: 3, quota_reale: 1.3187, quota_effettiva: 2 },
  "Arezzo": { scuole: 8, quota_reale: 0.8053, quota_effettiva: 1 },
  "Ascoli Piceno, Fermo": { scuole: 11, quota_reale: 0.8599, quota_effettiva: 1 },
  "Asti": { scuole: 5, quota_reale: 1.4314, quota_effettiva: 2 },
  "Avellino": { scuole: 16, quota_reale: 1.8981, quota_effettiva: 2 },
  "Bari": { scuole: 40, quota_reale: 4.9781, quota_effettiva: 5 },
  "Belluno": { scuole: 6, quota_reale: 0.7966, quota_effettiva: 1 },
  "Benevento": { scuole: 9, quota_reale: 0.9535, quota_effettiva: 1 },
  "Bergamo": { scuole: 14, quota_reale: 4.1735, quota_effettiva: 5 },
  "Biella, Vercelli": { scuole: 6, quota_reale: 1.3689, quota_effettiva: 2 },
  "Bologna": { scuole: 21, quota_reale: 3.8825, quota_effettiva: 4 },
  "Bolzano": { scuole: 15, quota_reale: 1.5425, quota_effettiva: 2 },
  "Brescia": { scuole: 24, quota_reale: 10.3651, quota_effettiva: 11 },
  "Brindisi, Taranto": { scuole: 22, quota_reale: 3.4884, quota_effettiva: 4 },
  "Cagliari": { scuole: 17, quota_reale: 2.7817, quota_effettiva: 3 },
  "Caltanissetta": { scuole: 4, quota_reale: 0.3910, quota_effettiva: 1 },
  "Campobasso, Isernia": { scuole: 10, quota_reale: 1.5000, quota_effettiva: 2 },
  "Caserta": { scuole: 17, quota_reale: 1.0697, quota_effettiva: 2 },
  "Catania": { scuole: 23, quota_reale: 4.1075, quota_effettiva: 5 },
  "Catanzaro, Crotone, Vibo Valentia": { scuole: 16, quota_reale: 1.2161, quota_effettiva: 2 },
  "Chieti": { scuole: 14, quota_reale: 1.9840, quota_effettiva: 2 },
  "Como": { scuole: 13, quota_reale: 2.4005, quota_effettiva: 3 },
  "Cosenza": { scuole: 32, quota_reale: 1.1918, quota_effettiva: 2 },
  "Cremona": { scuole: 3, quota_reale: 1.4191, quota_effettiva: 2 },
  "Cuneo": { scuole: 7, quota_reale: 1.7907, quota_effettiva: 2 },
  "Enna": { scuole: 6, quota_reale: 0.3875, quota_effettiva: 1 },
  "Ferrara": { scuole: 5, quota_reale: 1.6775, quota_effettiva: 2 },
  "Firenze, Prato": { scuole: 24, quota_reale: 6.7281, quota_effettiva: 7 },
  "Foggia": { scuole: 26, quota_reale: 3.4380, quota_effettiva: 4 },
  "Forlì-Cesena": { scuole: 13, quota_reale: 2.3007, quota_effettiva: 3 },
  "Frosinone": { scuole: 13, quota_reale: 0.9770, quota_effettiva: 1 },
  "Genova": { scuole: 24, quota_reale: 4.3932, quota_effettiva: 5 },
  "Gorizia": { scuole: 5, quota_reale: 0.7043, quota_effettiva: 1 },
  "Grosseto": { scuole: 6, quota_reale: 0.4989, quota_effettiva: 1 },
  "L’Aquila": { scuole: 4, quota_reale: 0.1194, quota_effettiva: 1 },
  "Latina": { scuole: 17, quota_reale: 2.1826, quota_effettiva: 3 },
  "Lecce": { scuole: 22, quota_reale: 5.6689, quota_effettiva: 6 },
  "Lecco, Sondrio": { scuole: 9, quota_reale: 2.9659, quota_effettiva: 3 },
  "Livorno": { scuole: 7, quota_reale: 0.6421, quota_effettiva: 1 },
  "Lodi": { scuole: 4, quota_reale: 0.8424, quota_effettiva: 1 },
  "Lucca": { scuole: 11, quota_reale: 1.6824, quota_effettiva: 2 },
  "Macerata": { scuole: 9, quota_reale: 1.0894, quota_effettiva: 2 },
  "Mantova": { scuole: 7, quota_reale: 0.6444, quota_effettiva: 1 },
  "Massa-Carrara, La Spezia": { scuole: 9, quota_reale: 6.1313, quota_effettiva: 7 },
  "Messina": { scuole: 11, quota_reale: 0.4895, quota_effettiva: 1 },
  "Milano, Monza-Brianza": { scuole: 52, quota_reale: 11.0064, quota_effettiva: 12 },
  "Modena": { scuole: 15, quota_reale: 3.1255, quota_effettiva: 4 },
  "Napoli": { scuole: 73, quota_reale: 6.5861, quota_effettiva: 7 },
  "Novara": { scuole: 8, quota_reale: 0.6779, quota_effettiva: 1 },
  "Nuoro": { scuole: 5, quota_reale: 0.4021, quota_effettiva: 1 },
  "Oristano, Sassari": { scuole: 10, quota_reale: 0.9199, quota_effettiva: 1 },
  "Padova": { scuole: 17, quota_reale: 7.9503, quota_effettiva: 8 },
  "Palermo": { scuole: 21, quota_reale: 2.5003, quota_effettiva: 3 },
  "Parma": { scuole: 13, quota_reale: 1.4219, quota_effettiva: 2 },
  "Pavia": { scuole: 9, quota_reale: 4.1853, quota_effettiva: 5 },
  "Perugia": { scuole: 21, quota_reale: 3.6569, quota_effettiva: 4 },
  "Pesaro e Urbino": { scuole: 8, quota_reale: 2.3579, quota_effettiva: 3 },
  "Pescara": { scuole: 9, quota_reale: 0.8441, quota_effettiva: 1 },
  "Piacenza": { scuole: 5, quota_reale: 1.5246, quota_effettiva: 2 },
  "Pisa": { scuole: 10, quota_reale: 4.2800, quota_effettiva: 5 },
  "Pistoia": { scuole: 7, quota_reale: 1.4845, quota_effettiva: 2 },
  "Pordenone": { scuole: 7, quota_reale: 1.7963, quota_effettiva: 2 },
  "Potenza, Matera": { scuole: 16, quota_reale: 0.7643, quota_effettiva: 1 },
  "Ragusa": { scuole: 10, quota_reale: 0.6544, quota_effettiva: 1 },
  "Ravenna": { scuole: 3, quota_reale: 2.1257, quota_effettiva: 3 },
  "Reggio Calabria": { scuole: 7, quota_reale: 0.5165, quota_effettiva: 1 },
  "Reggio Emilia": { scuole: 12, quota_reale: 0.9411, quota_effettiva: 1 },
  "Rieti": { scuole: 6, quota_reale: 1.8675, quota_effettiva: 2 },
  "Rimini": { scuole: 11, quota_reale: 1.4324, quota_effettiva: 2 },
  "Roma": { scuole: 116, quota_reale: 3.2954, quota_effettiva: 4 },
  "Rovigo": { scuole: 6, quota_reale: 1.1768, quota_effettiva: 2 },
  "Salerno": { scuole: 25, quota_reale: 2.4832, quota_effettiva: 3 },
  "Savona, Imperia": { scuole: 9, quota_reale: 2.0427, quota_effettiva: 3 },
  "Siena": { scuole: 6, quota_reale: 0.9304, quota_effettiva: 1 },
  "Siracusa": { scuole: 11, quota_reale: 2.1601, quota_effettiva: 3 },
  "Teramo": { scuole: 7, quota_reale: 0.8422, quota_effettiva: 1 },
  "Terni, Viterbo": { scuole: 15, quota_reale: 3.7851, quota_effettiva: 4 },
  "Torino": { scuole: 56, quota_reale: 4.2194, quota_effettiva: 5 },
  "Trapani": { scuole: 7, quota_reale: 0.9665, quota_effettiva: 1 },
  "Trento": { scuole: 21, quota_reale: 3.4235, quota_effettiva: 4 },
  "Treviso": { scuole: 15, quota_reale: 1.5890, quota_effettiva: 2 },
  "Trieste": { scuole: 10, quota_reale: 0.4458, quota_effettiva: 1 },
  "Udine": { scuole: 18, quota_reale: 1.2784, quota_effettiva: 2 },
  "Varese": { scuole: 11, quota_reale: 1.6311, quota_effettiva: 2 },
  "Venezia": { scuole: 13, quota_reale: 2.4526, quota_effettiva: 3 },
  "Verbano-Cusio-Ossola": { scuole: 6, quota_reale: 0.8733, quota_effettiva: 1 },
  "Verona": { scuole: 23, quota_reale: 1.0122, quota_effettiva: 2 },
  "Vicenza": { scuole: 20, quota_reale: 3.1152, quota_effettiva: 4 },
};


  const scuole = district_data[selected_district].scuole;
  const quota_reale = district_data[selected_district].quota_reale;
  const quota_effettiva = district_data[selected_district].quota_effettiva;
  const errore_quota=parseFloat(quota_reale)*4/100;

  if (selected_district !== "all") {
    document.getElementById('sum-result').innerHTML = 
      `Il numero di scuole nel distretto di ${selected_district} era di ${scuole} su un totale di 1376, nel 2024.<br>` +
      `Le quote bonus per il 2025 sono ${bonusshares} su un totale di ${allbonusshares}.<br>` +
      `La quota reale del distretto di ${selected_district}, ottenuta assumendo che il numero di scuole iscritte di ogni distretto rimanga invariato nel 2025, è ${quota_reale}; il fattore di riscalamento necessario è riusltato essere 1.165. La quota effettiva di ${selected_district}, al netto di eventuali quote bonus, è la parte intera superiore della quota reale, ovvero ${quota_effettiva}.<br>` +
      `La variazione nel numero di scuole iscritte dal 2023 al 2024 è stato del +4% (da 1322 a 1376). Assumendo una variazione simile tra il 2024 e il 2025, è opportuno considerare un margine di errore nella quota reale del distretto di ${selected_district} pari a circa ${errore_quota}.<br>` +
      `Inoltre, l'iscrizione di una scuola in più (o in meno) rispetto al 2024 determina una variazione della quota reale pari a circa 0.03.`;
  } else {
    document.getElementById('sum-result').innerHTML = "";
  }
});
</script>

